


/******************************** Font Family **************************/

/******************************** NavBar Elements**************************/

.navbar-light .navbar-brand {
    color: #66fcf1;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #66fcf1;
}

.navbar-light .navbar-nav .nav-link {
    color: #66fcf1;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #66fcf1;
}


/******************************** Carousel-item **************************/

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}

.carousel-caption{
  bottom: 350px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: #66fcf1;
    /****Pick a font to use here ***/
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9; 
    color: #45a29e;
    /****Pick a font to use here ***/
}


/******************************** Heading **************************/


/******************************** Padding **************************/



/******************************** Pictures **************************/


/******************************** Footer **************************/


/******************************** Body **************************/