@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/******************************** Font Family **************************/

/******************************** Nav Fuctions **************************/

body{
    padding-right: 30px;
    font-family: 'Roboto Mono', monospace;
}

/******************************** Colors **************************/



/******************************** Heading **************************/

.title-heading {
    
    text-align: center;
}

/******************************** Padding **************************/



/******************************** Pictures **************************/


/******************************** Footer **************************/


/******************************** Body **************************/